* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: lightblue !important;
}

h1 {
	color: green;
	text-align: center;
}

p {
	font-family: verdana;
	/*color: green;*/
	text-align:center;
	font-size:30px;
}
label {
	font-size:30px;
	
}
form {
	border:1px solid black;
	border-width: thin;
	padding: 50px;
}


#title {
	font-size:70px;
	color:Aqua;
}
#app_widget {
	text-align: center;
	background-color: aqua;
}

.jumbotron {
	background-color: DarkOrange !important;
	
	
}
.container-fluid {
	text-align:center;
}